## 1. Write a code to create a string with your name and print it.

In [ ]:
name = "Rishabh"
print(name)

Rishabh

## 2. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
print(len(text))

11

## 3. Write a code to slice the first 8 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
print(text[:8])

Python P

## 4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
print(text.upper())

HELLO

## 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

## 6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

## 7. Write a code to append the number 6 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 6]

## 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1]) # Indexing starts at 0

b

## 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

## 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

## 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

## 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

## 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

## 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

## 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

# 17.  Write a code to create a set with the elements 7, 5, 3 and print it.

In [ ]:
my_set = {7, 5, 3}
print(my_set)

{3, 5, 7}

# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

# 19. Write a code to find the union of two sets, {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

# 21. Write a code to create a dictionary with the keys "name", "age" and "city" and print it.

In [ ]:
my_dict = {"name": "John", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary.

In [ ]:
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

## 23. Write a code to access the value associated with the key "name" in the dictionary.

In [ ]:
print(my_dict["name"])

John

## 24.  Write a code to remove the key "age" from the dictionary.

In [ ]:
del my_dict["age"]
print(my_dict)

{'name': 'John', 'city': 'New York', 'country': 'USA'}

## 25. Write a code to check if the key "city" exists in the dictionary.

In [ ]:
print("city" in my_dict)

True

## 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"key1": "value1", "key2": "value2"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'key1': 'value1', 'key2': 'value2'}

## 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[2, 27, 35, 74, 82]

## 28.  Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[3])

date

## 29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name": "Alice", "age": 30}
dict2 = {"city": "Paris", "job": "Engineer"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'job': 'Engineer'}

## 30. Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'cherry'}